.calendar
  padding 0 px2rpx(20px) px2rpx(200px) px2rpx(20px)
  .calendar-header
    display flex
    text-align center
    box-shadow: 0 2px 4px 0 rgba(59,79,98,0.04)
    height px2rpx(96px)
    line-height @height
    .calendar-week-label
      flex 1
      font-size: px2rpx(34px)
      color: #000000
      &.weekend
        color: #F7604C
  .calendar-body
    .calendar-month
      display block
      height px2rpx(67)
      margin-top px2rpx(37)
      font-size px2rpx(48px)
      color #ABB7C2
    .calendar-grids
      .calendar-grid
        margin-top px2rpx(26px)
        box-sizing: border-box
        width 14.28%
        height px2rpx(80px)
        padding px2rpx(5px) 0
        // line-height @height
        font-size px2rpx(30px)
        font-weight 500
        color #ABB7C2
        vertical-align: top
        display inline-block
        // float: left;
        text-align center
        position relative
        &.active
          .calendar-grid-text
            background #0CC071
            color #fff
        &.start
          .calendar-grid-text
            border-radius px2rpx(6px) 0 0 px2rpx(6px)
        &.end
          .calendar-grid-text  
            border-radius 0 px2rpx(6px) px2rpx(6px) 0
        .calendar-grid-text
          width px2rpx(76px)
          height 100%
          margin 0 auto
          .calendar-day
            height px2rpx(40px)
            line-height @height
            display block
          .calendar-day-note
            font-size px2rpx(24px)
            height px2rpx(30px)
            line-height @height
            display block
          