#airline-info
  background #fff
  color #ABB7C2
  padding px2rpx(19px) px2rpx(60px) 
  .info
    display flex
    &>view
      flex 1
      .date
        color #3B4F62
      .ads
        font-size px2rpx(30px)
      .airport
        font-size px2rpx(24px)
    .t-r
      text-align right
    .t-l
      text-align left
  .service
    text-align center
    font-size px2rpx(30px)
    margin-top px2rpx(15px) 