page
  background #fff
  .search-header
    width 100%
    height px2rpx(96px)
    padding px2rpx(10px)
    box-sizing border-box
    box-shadow 0 2px 4px 0 rgba(59,79,98,0.04)
    .date
      width px2rpx(150px)
      height px2rpx(76px)
      float left
      border-radius px2rpx(4px)
      background rgba(191,195,205,0.15)
      display flex
      padding px2rpx(10px) px2rpx(20px)
      box-sizing border-box
      .left
        flex 2
        text
          display block
          height px2rpx(30px)
          line-height @height
          font-size px2rpx(22px)
          color #bfc3cd
      .right
        flex 1
        font-size px2rpx(22px)
        color #3B4F62
        line-height px2rpx(56px)
    .search-bar
      width px2rpx(560px)
      height px2rpx(76px)
      float right
      border-radius px2rpx(4px)
      background rgba(191,195,205,0.15)
      box-sizing border-box
      padding px2rpx(18px) 0 px2rpx(15px) px2rpx(65px)
      position relative
      image
        display inline-block
        width px2rpx(29px)
        height @width
        position absolute
        left px2rpx(20px)
        top px2rpx(27px)
      input
        font-size px2rpx(30px)
        color #D0D7DE
  .hotel-list
    height 100%
    background #F2F5FA
    padding px2rpx(20px) px2rpx(10px) 0
  .footer
    width 100%
    height px2rpx(98px)
    position fixed
    bottom 0
    left 0
    background #fff
    box-shadow 0 -2px 8px 0 rgba(59,79,98,0.15)
    display flex
    text
      flex 1
      height px2rpx(40px)
      line-height @height
      font-size px2rpx(28px)
      color #9da4b5
      border-right px2rpx(1.5px) solid #EDF0F5
      text-align center
      margin px2rpx(30px) 0
      &.active
        color #0CC071
    
