page
  background #fff
  .search-header
    width 100%
    height px2rpx(96px)
    padding px2rpx(10px)
    box-sizing border-box
    box-shadow 0 2px 4px 0 rgba(59,79,98,0.04)
    .date
      width px2rpx(150px)
      height px2rpx(76px)
      float left
      border-radius px2rpx(4px)
      background rgba(191,195,205,0.15)
      display flex
      padding px2rpx(10px) px2rpx(16px)
      box-sizing border-box
      .left
        flex 2
        text
          display block
          height px2rpx(30px)
          line-height @height
          font-size px2rpx(22px)
          color #bfc3cd
      .right
        flex 1
        font-size px2rpx(22px)
        color #3B4F62
        line-height px2rpx(56px)
    .search-bar
      width px2rpx(560px)
      height px2rpx(76px)
      float right
      border-radius px2rpx(4px)
      background rgba(191,195,205,0.15)
      box-sizing border-box
      padding px2rpx(18px) 0 px2rpx(15px) px2rpx(65px)
      position relative
      .search-img
        display inline-block
        width px2rpx(29px)
        height @width
        position absolute
        left px2rpx(20px)
        top px2rpx(27px)
      .input
        font-size px2rpx(30px)
        color #D0D7DE
  .hotel-list
    height 100%
    background #F2F5FA
    padding px2rpx(20px) px2rpx(10px) 0
    .list-dl
      height px2rpx(220px)
      overflow hidden
      display flex
      margin-bottom px2rpx(20px)
      box-shadow: 0 px2rpx(2px) px2rpx(6px) 0 rgba(0,0,0,0.08)
      background #fff
      border-radius px2rpx(8px)
      .list-dt
        flex 2.7
        overflow hidden
        .list-img
          width 100%
          height 100%
      .list-dd
        flex 7.3
        padding 0 px2rpx(25px)
        .title
          font-size px2rpx(32px)
          color #3B4F62
          line-height px2rpx(62px)
        .comment
          font-size px2rpx(24px)
          color #9DA4B5
          text
            color #0CC071
        p
          font-size px2rpx(24px)
          color #9DA4B5
        .confirm
          display flex
          .btns
            flex 3
            i.btn
              border px2rpx(1.5px) solid #0cc071
              border-radius px2rpx(4px)
              font-size px2rpx(22px)
              color #0CC071
              padding px2rpx(5px)
              margin-right px2rpx(14px)
          .price
            flex 1
            font-size px2rpx(22px)
            color #9DA4B5
            i.p
              color #ff0000
              font-size px2rpx(44px)
    .nomore
      position relative
      i.line
        display inline-block
        width px2rpx(500px)
        position absolute
        top px2rpx(74px)
        left 50%
        margin-left px2rpx(-250px)
        height px2rpx(1px)
        background rgba(189,199,217,0.5)
      text
        position relative
        display block
        width px2rpx(212px)
        height px2rpx(148px)
        line-height px2rpx(146px)
        font-size px2rpx(22px)
        color #bfc3cd
        text-align center
        margin 0 auto
        background #F2F5FA
        z-index 9
  .footer
    width 100%
    height px2rpx(98px)
    position fixed
    bottom 0
    left 0
    background #fff
    box-shadow 0 px2rpx(-2px) px2rpx(8px) 0 rgba(59,79,98,0.15)
    display flex
    text
      flex 1
      height px2rpx(40px)
      line-height @height
      font-size px2rpx(28px)
      color #9da4b5
      border-right px2rpx(1.5px) solid #EDF0F5
      text-align center
      margin px2rpx(30px) 0
      &.active
        color #0CC071
    
